* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#main-page {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 56px 1fr;
}

.grid-section {
  border: 2px solid #ffa94d;
  border-radius: 5px;
  background-color: #ffd8a8;
  padding: 1em;
  color: #d9480f;
}

.body {
  display: grid;
  grid-template-columns: 225px 1fr;
  overflow: hidden;
}

.content {
  overflow: auto;
  position: relative;
}

.box {
  width: 100px;
  height: 100px;
  background: lightblue;
  position: absolute;
  cursor: grab;
  border: 1px solid grey;
  border-radius: 5%;
  box-shadow: 1px 1px gray;
}

.circle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: gray;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease,
    box-shadow 0.3s ease, border 0.3s ease;
}

.circle.top {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.circle.bottom {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
.circle.left {
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}
.circle.right {
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

.circle.top:hover,
.circle.left:hover {
  transform: translate(-50%, -50%) scale(1.05); /* Enlarges by 30% */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Adds shadow */
  border: 3px solid black; /* Changes border */
}

.circle.right:hover {
  transform: translate(50%, -50%) scale(1.05); /* Enlarges by 30% */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Adds shadow */
  border: 3px solid black; /* Changes border */
}

.circle.bottom:hover {
  transform: translate(-50%, 50%) scale(1.05); /* Enlarges by 30% */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Adds shadow */
  border: 3px solid black; /* Changes border */
}

.box:hover .circle {
  opacity: 1;
}
